@model GK_Paper.Models.Tbl_gklogin
@{
    ViewBag.Title = "forget_password";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h2 align="center" style="font-family:'Times New Roman', Times, serif">Forgot Password</h2>
<div class="row" style="border:inset 2px  #3eadcf"></div>
<br />

<link href="~/Design/StyleSheet/Login.css" rel="stylesheet" />
<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        @*<h3 class="text-center text-dark">Forgot Password</h3>*@
                        <center>
                            <div class="row col-md-3">

                                <label class="text-dark">Enter Inedx No:</label><br>
                                <input type="text" name="Inedx_no" id="Inedx_no" class="form-control" style="width:200px">

                            </div>

                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <input type="button" id="forgotPassword" name="submit" class="btn btn-primary btn-md" value="submit">
                                </div>
                            </div>
                            <br />
                            <label id="passError" class="text-danger text-center" style="display:none;margin-left:130px"></label>

                            <div style="display:none;margin-left:100px" id="pass">
                                Your Password is :   <label style="font-family:Arial, Helvetica, sans-serif;font-size:15px;color:red" id="Password"></label>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#forgotPassword").click(function () {
            $("#Password").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getPassword")',
                dataType: 'json',
                data: { Inedx_no: $("#Inedx_no").val() },
                success: function (password) {
                    if (Password == "Invalid Inedx Number.") {
                        $("#pass").hide();
                        $("#passError").show();
                        $("#passError").text(Password);
                    }
                    else {
                        $("#pass").show();
                        $("#passError").hide();
                        $("#Password").text(password);
                    }
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return false;
        })
    });
</script>

